*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    font-size: 62.5%;
}


main{
    width: 100%;
    height: 100vh;
    background-color: #34495e;
    margin-top: 70px;
    position: absolute;
}

header{
    width: 100%;
    height:60px ;
    position: fixed;
    background-color: #19bc9d;
    left: 0;
    top: 0;
    color: white;
}

main label{
    position: fixed;
    width: 100%;
    max-width: 1000px;
    margin-top: -60px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    z-index: 10;
}

h2{
   margin-top: 15px;
   max-width: 1000px;
   font-size: 26px;
   text-align: right;
   color: white;
}

#check{
    display: none;
}

#check:checked ~ .menu{
    width: 250px;

}

.menu{
   position: fixed;
   width: 0px;
   height: 100vh;
   background-color: #2d3e50;
   top: 60px;
   transition: all 500ms cubic-bezier(1,0,0,1); 
   overflow: hidden;
}

.menu a{
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    display: block;
    width: 400px;
    text-decoration: none;
    font-size: 1.6rem;
}

.menu a:hover{
    background: rgba(0,0,0,0.2);
}



section{
    display: flex;
}

section a img{
    width: 400px;
    height: 430px;
}

section a{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    overflow: hidden;
}
section a:hover{
    cursor: pointer;;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.container{
    margin: 30px auto;
    display: flex;
    width: 600px;
    height: 430px;
}

.container img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: .8s ease; 
}

.container img:hover{
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}
